<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles }}
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="https://ezcapasia.com/_next/image?url=%2Fimages%2Flogo.png&w=256&q=75"
                    alt="Ezracapital Trades LOGO" />
            </div>
        </div>
        <div class="content">
            <p>Dear {{name}},</p>
            <p> Thank you for registering with Ezcapasia We are thrilled to welcome you
                to our trading platform.
            </p>
            <p>Before you can fund your account and start trading, we kindly ask you to
                complete the Know Your Customer (KYC) verification process. This ensures
                the security of your account and compliance with global financial
                regulations.</p>
            <p>
                To Complete KYC Verification:
                1 Log in to your account: Login Here
                2 Navigate to the "KYC Verification" section.
                3 Upload the required documents:
                ◦ Proof of Identity (e.g., passport, driver’s license)
                ◦ Proof of Address (e.g., utility bill, bank statement)
                Our compliance team will review your documents, and you will receive a
                confirmation once your account is verified.
            </p>
            <p>
                Once your KYC verification is complete, you can proceed to fund your
                trading account by following the steps below:
                1 Go to the "Deposit Funds" section.
                2 Select your preferred payment method.
                3 Enter the deposit amount.
                4 Complete the transaction.
                Once your account is funded, you'll be ready to start trading and
                explore the wide range of opportunities we offer.
            </p>
            <p>
                Need Assistance?
                If you have any questions regarding the KYC process or need help funding
                your account, please contact us at support@ezracapitaltrades.com .
                We appreciate your cooperation and look forward to helping you on your
                trading journey
            </p>
            <!-- <a href="#" class="cta-button">Manage Your Booking</a> -->
            <p>Best regards,<br />Mr Dan</p>
            <p>Ezcapasia
            </p>
        </div>
        <div class="footer">
            <p>
                <a href="https://g.co/kgs/Po2BcS7" class="white" target="_blank" rel="noopener noreferrer">
                    Ezracapital Trades </a>| <br class="white" />
                <a href="tel:+84 868 237" class="white" >WhatsApp Phone: +84 868 237</a> |
                <a href="mailto:admin@ezracapitaltrades.com" class="white" >
                    Email: admin@ezracapitaltrades.com</a>
            </p>
        </div>
    </div>
</body>

</html>